<form #loginForm="ngForm" (ngSubmit)="checkLogin()">

    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>

      <input type="text" #email="ngModel" [(ngModel)]="user.email" class="form-control" id="email" name="email"
      placeholder="Enter E-mail Address" required>
      
      <small  class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>

      <input type="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" id="password" name="password"
      placeholder="Enter password" required>
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
    <br><br>
    <a [routerLink]="['/register']" id="register" class="btn btn-primary">Register</a>
  </form>