

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-md-offset-1">
      <table *ngIf="orderItemList" class="table table-hover">
        <thead>
          <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th class="text-center">Price</th>
            <th class="text-center">Total</th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let o of orderItemList">
            <td class="col-sm-8 col-md-6">
              <div class="media">
                <a class="thumbnail pull-left" href="#"> <img class="media-object" [src]="o.product.imageUrl"
                    style="width: 72px; height: 72px;"> </a>
                <div class="media-body">
                  <h4 class="media-heading" id ="productNameInCart"><a href="#">{{o.product.name}}</a></h4>
                </div>
              </div>
            </td>
            <td>
            <div class="form-inline">
            <button type="button"(click)="onAddQuantity()"class="btn btn-success">+</button>
            <input type="number"[ngModel]="o.quantity" (ngModelCnhange)="o.quantity=$event" class="form-control" id="cartQuantity"/> 
            <button type="button"(click)="onRemoveQuantity()"class="btn btn-danger">-</button>
            </div>

            </td>
            <td class="col-sm-1 col-md-1 text-center"><strong>{{o.product.price | currency:'LKR'}}</strong></td>
            <td class="col-sm-1 col-md-1 text-center"><strong>{{o.product.price * o.quantity | currency:'LKR'}}</strong></td>
            <td class="col-sm-1 col-md-1">
                <button (click)="removeCartItem(o)" class="btn btn-danger">Remove</button>
            </td>


          </tr>
          <tr>
            <td>   </td>
            <td>   </td>
            <td>   </td>
            <td>
              <h3>Total</h3>
            </td>
            <td class="text-right">
              <h3><strong>{{totalPrice| currency:'LKR'}}</strong></h3>
            </td>
          </tr>
          <tr>
            <td>   </td>
            <td>   </td>
            <td>   </td>
            <td>
              <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
              </button></td>
            <td>
              <button type="button" [routerLink]="['/checkout']" class="btn btn-success">
                Checkout <span class="glyphicon glyphicon-play"></span>
              </button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>