<p>
  <a [routerLink]="['/newproduct']" id="newItem" class="btn btn-primary">Add New Product</a>
</p>
<p>
  <input #query (keyup)="filter(query.value)" type="text" placeholder="Search..." class="form-control">
</p>
<div>
  <table *ngIf="productList" class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Item Name</th>
        <th scope="col">Price</th>
        <th scope="col">Edit Item</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of filteredProductList">
        <th scope="row">{{p.name}}</th>
        <td>{{p.price}}</td>
        <td><button (click)="editProductDetails()" [routerLink]="['/editdetails',p.pid]" class="btn btn-success">Edit
            Details</button></td>
      </tr>

    </tbody>
  </table>
</div>